@import "@fontsource-variable/montserrat";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat Variable", sans-serif;
  color: "#F5F5F5";
  background: #000000;
}
